/* WORKSHOPS */

.page-id-53 {
    .workshops-year-block {
        width: 100%;
    }
    .workshop-month {
        width: 100%;
        border-top: 5px solid #19AECB;
        padding: 20px;
        h2 {
            font-size: 40px;
        }
    }
    @media (min-width: 800px) {
        .workshops {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
        }
        .workshop-month {
            max-width: 45%;
            margin: 0 20px 50px;
        }
    }
    .workshop-block {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-bottom: 30px;
        a {
            color: #19AECB;
            letter-spacing: 0.75px;
            font-weight: 400;
            &.chirunning-clinic,
            &.chirunning-tune-up,
            &.chirunning-workshop {
                color: #81C723;
            }
            &.chiwalk-run-workshop {
                color: #3DC3A5;
            }
            &.chiwalking-workshop {
                color: #3F68B1;
            }
        }
    }
    .workshop-date {
        width: 100%;
        max-width: 75px;
        height: 45px;
        margin-right: 10px;
        font-weight: bold;
    }
}

.single-workshops {
    #label_5_5_1 {
        color: #fff;
    }
}