/* FIX PAGE WIDTHS ON NON-ELEMENTOR PAGES */

.site-main {
    max-width: 1140px!important;
    padding: 10px 20px;
    margin: 0 auto;
}

.chiliving-headline-underline,
.chirunning-headline-underline,
.chiwalking-headline-underline,
.white-headline-underline {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        z-index: 1;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 25px;
            left: -5px;
            top: 36px;
            z-index: -1;
        }
    }
}

.chiliving-headline-underline {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        z-index: 1;
        &:after {
            background-color: #19AECB;
        }
    }
}

.chirunning-headline-underline {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        z-index: 1;
        &:after {
            background-color: #81c723;
        }
    }
}

.chiwalking-headline-underline {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        z-index: 1;
        &:after {
            background-color: #3dc3a5;
        }
    }
}

.white-headline-underline {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        z-index: 1;
        &:after {
            background-color: #ffffff;
        }
    }
}


/* TESTIMONIAL SLIDER */

.elementor-swiper-button {
    top: unset;
    bottom: -15px;
    padding: 8px;
    background-color: #fff;
    color: #FFD107;
    @media screen and (min-width: 768px) {
        bottom: -50px;
    }
    &.elementor-swiper-button-prev {
        left: 38%;
        @media screen and (min-width: 768px) {
            left: 43%;
        }
        @media screen and (min-width: 1025px) {
            left: 46%;
        }
    }
    &.elementor-swiper-button-next {
        right: 38%;
        @media screen and (min-width: 768px) {
            right: 43%;
        }
        @media screen and (min-width: 1025px) {
            right: 46%;
        }
    }
}


/* SEARCH FORM */

.elementor-search-form--skin-minimal .elementor-search-form__icon {
    opacity: 1;
}

.elementor-search-form__input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
}

.elementor-search-form__input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
}

.elementor-search-form__input:-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
}

.elementor-search-form__input:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
}


/* FOOTER */

.elementor-133 .elementor-element.elementor-element-32ef576 .uael-img-gallery-wrap {
    margin-left: 0;
    margin-right: 0;
}

.footer-top-arrow {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    z-index: 1;
}