/* FIX PAGE WIDTHS ON NON-ELEMENTOR PAGES */

.site-main {
    max-width: 1140px!important;
    padding: 10px 20px;
    margin: 0 auto;
}

h2.elementor-heading-title {
    @media screen and (max-width: 767px) {
        font-size: 36px!important;
    }
}


/* Home Gallery grid */

.home-gallery-grid {
    margin: 0 auto;
}


/* TESTIMONIAL SLIDER */

.elementor-swiper-button {
    top: unset;
    bottom: -15px;
    padding: 8px;
    background-color: #fff;
    color: #FFD107;
    @media screen and (min-width: 768px) {
        bottom: -50px;
    }
    &.elementor-swiper-button-prev {
        left: 38%;
        @media screen and (min-width: 768px) {
            left: 43%;
        }
        @media screen and (min-width: 1025px) {
            left: 46%;
        }
    }
    &.elementor-swiper-button-next {
        right: 38%;
        @media screen and (min-width: 768px) {
            right: 43%;
        }
        @media screen and (min-width: 1025px) {
            right: 46%;
        }
    }
}

.chiliving-testimonial .elementor-swiper-button {
    color: #19AECB;
}

.chirunning-testimonial .elementor-swiper-button,
.chirunning-faq a {
    color: #81c723;
}

.chiwalking-testimonial .elementor-swiper-button,
.chiwalking-faq a {
    color: #3dc3a5;
}


/* SEARCH FORM */

.elementor-search-form--skin-minimal .elementor-search-form__icon {
    opacity: 1;
}

.elementor-search-form__input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
}

.elementor-search-form__input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
}

.elementor-search-form__input:-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
}

.elementor-search-form__input:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
}


/* FOOTER */

.elementor-133 .elementor-element.elementor-element-32ef576 .uael-img-gallery-wrap {
    margin-left: 0;
    margin-right: 0;
}

.footer-top-arrow {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    z-index: 1;
}


/* ANY POST TEMPLATE SECTION */

.uael-post__inner-wrap {
    @media screen and (min-width: 1025px) {
        height: 553px;
    }
}

.uael-post__inner-wrap.uael-post__noimage .uael-post__content-wrap {
    margin-top: 137px;
}

@media screen and (min-width: 768px) {
    .uael-post__thumbnail {
        height: 202px;
        a img {
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    .uael-post__content-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 385px;
    }
    .page-id-48 .uael-post__content-wrap {
        height: 300px;
    }
}

.check-this-out {
    .jet-carousel__item-inner {
        max-width: 400px;
        margin: 0 auto;
        display: block;
        .jet-carousel__content {
            @media screen and (min-width: 768px) {
                height: 325px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            @media screen and (min-width: 1025px) {
                height: 400px;
            }
            .jet-carousel__item-title {
                height: 60px;
            }
            .elementor-button.elementor-size-md.jet-carousel__item-button {
                width: 100%;
            }
        }
    }
}