/* FIX PAGE WIDTHS ON NON-ELEMENTOR PAGES */

.site-main {
    max-width: 1140px!important;
    padding: 10px 20px;
}

h2.elementor-heading-title:after {
    position: absolute;
    content: "";
    background-color: 19AECB;
    width: 200px;
    height: 25px;
    left: -5px;
    top: 36px;
    z-index: -1;
}


/* SEARCH FORM */

.elementor-search-form--skin-minimal .elementor-search-form__icon {
    opacity: 1;
}

.elementor-search-form__input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
}

.elementor-search-form__input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
}

.elementor-search-form__input:-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
}

.elementor-search-form__input:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
}

.footer-top-arrow {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    z-index: 1;
}