/* HOME */


/* BLOG */


/* search on top of blog */

.page-id-47 .elementor-search-form__input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4a4a4a;
}

.page-id-47 .elementor-search-form__input::-moz-placeholder {
    /* Firefox 19+ */
    color: #4a4a4a;
}

.page-id-47 .elementor-search-form__input:-ms-input-placeholder {
    /* IE 10+ */
    color: #4a4a4a;
}

.page-id-47 .elementor-search-form__input:-moz-placeholder {
    /* Firefox 18- */
    color: #4a4a4a;
}