/* BLOG PAGE */
/* search on top of blog */
.page-id-47 .elementor-search-form__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4a4a4a;
}

.page-id-47 .elementor-search-form__input::-moz-placeholder {
  /* Firefox 19+ */
  color: #4a4a4a;
}

.page-id-47 .elementor-search-form__input:-ms-input-placeholder {
  /* IE 10+ */
  color: #4a4a4a;
}

.page-id-47 .elementor-search-form__input:-moz-placeholder {
  /* Firefox 18- */
  color: #4a4a4a;
}

.page-id-48 .uael-post-grid.uael-posts,
.page-id-47 .uael-post-grid.uael-posts {
  height: 1100px;
  overflow: hidden;
}

.page-id-48 .uael-post-grid__inner.uael-post-infinite-scroll.uael-post-infinite__event-scroll,
.page-id-47 .uael-post-grid__inner.uael-post-infinite-scroll.uael-post-infinite__event-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 20px;
  box-sizing: content-box;
}

/* SINGLE BLOG POSTS */
h2.comment-reply-title {
  display: none;
}

/* products section */
.single-post .post-product {
  margin-bottom: 20px;
}

.single-post .post-product p {
  margin-bottom: 2px;
}

.single-post .post-product h2 {
  font-size: 20px;
}

.single-post .post-product .blog-product-price {
  margin-bottom: 10px;
}

.single-post .post-product a.blog-product-link {
  border: 2px solid #19aecb;
  padding: 12px;
  background-color: #ffffff;
  color: #19aecb;
  display: block;
  text-align: center;
}

.single-post .post-product a.blog-product-link:hover {
  background-color: #19aecb;
  color: #ffffff;
}

/* FIX PAGE WIDTHS ON NON-ELEMENTOR PAGES */
.site-main {
  max-width: 1140px !important;
  padding: 10px 20px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  h2.elementor-heading-title {
    font-size: 36px !important;
  }
}

/* Home Gallery grid */
.home-gallery-grid .uael-img-gallery-wrap {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .home-gallery-grid .uael-img-gallery-wrap .uael-grid-item {
    width: 33%;
  }
}
@media screen and (max-width: 530px) {
  .home-gallery-grid .uael-img-gallery-wrap .uael-grid-item {
    width: 50%;
  }
}
.home-gallery-grid .uael-img-gallery-wrap .uael-grid-item img {
  max-width: 125px;
}

/* TESTIMONIAL SLIDER */
.elementor-swiper-button {
  top: unset;
  bottom: -15px;
  padding: 8px;
  background-color: #fff;
  color: #FFD107;
}
@media screen and (min-width: 768px) {
  .elementor-swiper-button {
    bottom: -50px;
  }
}
.elementor-swiper-button.elementor-swiper-button-prev {
  left: 38%;
}
@media screen and (min-width: 768px) {
  .elementor-swiper-button.elementor-swiper-button-prev {
    left: 43%;
  }
}
@media screen and (min-width: 1025px) {
  .elementor-swiper-button.elementor-swiper-button-prev {
    left: 46%;
  }
}
.elementor-swiper-button.elementor-swiper-button-next {
  right: 38%;
}
@media screen and (min-width: 768px) {
  .elementor-swiper-button.elementor-swiper-button-next {
    right: 43%;
  }
}
@media screen and (min-width: 1025px) {
  .elementor-swiper-button.elementor-swiper-button-next {
    right: 46%;
  }
}

.chiliving-testimonial .elementor-swiper-button {
  color: #19AECB;
}

.chirunning-testimonial .elementor-swiper-button,
.chirunning-faq a {
  color: #81c723;
}

.chiwalking-testimonial .elementor-swiper-button,
.chiwalking-faq a {
  color: #3dc3a5;
}

/* SEARCH FORM */
.elementor-search-form--skin-minimal .elementor-search-form__icon {
  opacity: 1;
}

.elementor-search-form__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}

.elementor-search-form__input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}

.elementor-search-form__input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}

.elementor-search-form__input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}

/* FOOTER */
.elementor-133 .elementor-element.elementor-element-32ef576 .uael-img-gallery-wrap {
  margin-left: 0;
  margin-right: 0;
}

.footer-top-arrow {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  z-index: 1;
}

/* ANY POST TEMPLATE SECTION */
/* adjust blog module on all but home/success stories/blog */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .uael-post-grid__inner.uael-post__columns-3.uael-post__columns-tablet-2.uael-post__columns-mobile-1 .uael-post-wrapper:not(.home), .uael-post-grid__inner.uael-post__columns-3.uael-post__columns-tablet-2.uael-post__columns-mobile-1 .uael-post-wrapper:not(.page-id-47), .uael-post-grid__inner.uael-post__columns-3.uael-post__columns-tablet-2.uael-post__columns-mobile-1 .uael-post-wrapper:not(.page-id-48) {
    width: 33%;
  }
  .uael-post-grid__inner.uael-post__columns-3.uael-post__columns-tablet-2.uael-post__columns-mobile-1 .uael-post-wrapper:not(.home) .uael-post__inner-wrap, .uael-post-grid__inner.uael-post__columns-3.uael-post__columns-tablet-2.uael-post__columns-mobile-1 .uael-post-wrapper:not(.page-id-47) .uael-post__inner-wrap, .uael-post-grid__inner.uael-post__columns-3.uael-post__columns-tablet-2.uael-post__columns-mobile-1 .uael-post-wrapper:not(.page-id-48) .uael-post__inner-wrap {
    height: 630px;
  }
  .uael-post-grid__inner.uael-post__columns-3.uael-post__columns-tablet-2.uael-post__columns-mobile-1 .uael-post-wrapper:not(.home) .uael-post__content-wrap, .uael-post-grid__inner.uael-post__columns-3.uael-post__columns-tablet-2.uael-post__columns-mobile-1 .uael-post-wrapper:not(.page-id-47) .uael-post__content-wrap, .uael-post-grid__inner.uael-post__columns-3.uael-post__columns-tablet-2.uael-post__columns-mobile-1 .uael-post-wrapper:not(.page-id-48) .uael-post__content-wrap {
    height: 460px;
  }
}

@media screen and (min-width: 1025px) {
  .uael-post__inner-wrap {
    height: 553px;
  }
}

.uael-post__inner-wrap.uael-post__noimage .uael-post__content-wrap {
  margin-top: 137px;
}

@media screen and (min-width: 768px) {
  .uael-post__thumbnail {
    height: 202px;
  }
  .uael-post__thumbnail a img {
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .uael-post__content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 385px;
  }

  .page-id-48 .uael-post__content-wrap {
    height: 300px;
  }
}
.check-this-out .jet-carousel__item-inner {
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .check-this-out .jet-carousel__item-inner .jet-carousel__content {
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1025px) {
  .check-this-out .jet-carousel__item-inner .jet-carousel__content {
    height: 400px;
  }
}
.check-this-out .jet-carousel__item-inner .jet-carousel__content .jet-carousel__item-title {
  height: 60px;
}
.check-this-out .jet-carousel__item-inner .jet-carousel__content .elementor-button.elementor-size-md.jet-carousel__item-button {
  width: 100%;
}

/* AUTHOR / INSTRUCTOR PAGES */
.author .author-content {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .author .author-content {
    max-width: 767px;
  }
}
@media (max-width: 1024px) {
  .author .author-content {
    max-width: 1024px;
  }
}
.instructor-banner {
  height: 300px;
  background-color: #19AECB;
  left: 50%;
  padding: 10px;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  font-family: "Lato", sans-serif;
}

.instructor-header {
  margin: -150px auto 100px;
  position: relative;
}
@media (min-width: 768px) {
  .instructor-header {
    display: flex;
    flex-wrap: nowrap;
  }
}
.instructor-header .left {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .instructor-header .left {
    width: 40%;
    margin: 0;
  }
}
.instructor-header .left .inst-img img {
  max-width: 380px;
  margin: 0 auto;
  display: block;
  border: 6px solid #fff;
  -webkit-box-shadow: 0 0 5px 5px #c5c2c2;
  -moz-box-shadow: 0 0 5px 5px #c5c2c2;
  box-shadow: 0 0 5px 5px #c5c2c2;
  max-width: 380px;
  width: 100%;
}
@media (min-width: 768px) {
  .instructor-header .left .inst-img img {
    margin: 0 0 30px 5px;
  }
}
.instructor-header .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  position: relative;
}
@media (min-width: 768px) {
  .instructor-header .right {
    padding: 50px 50px 90px;
  }
}
.instructor-header .right .quick-location img {
  max-width: 20px;
  margin-right: 10px;
}
.instructor-header .right #phone-popup-link {
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.instructor-header .right #phone-popup-content {
  font-weight: bold;
  position: absolute;
  left: 50px;
  bottom: -90px;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 200px;
  height: auto;
  padding: 15px;
  background: #fff;
  box-sizing: content-box;
  border: 2px solid #19AECB;
}
.instructor-header .right #phone-popup-content h3 {
  margin-bottom: 5px;
}
.instructor-header .right #phone-popup-content a.modal-close {
  float: right;
  background: none;
  border: 1px solid #19AECB;
  text-align: center;
}

.instructor-header div.right h3 {
  font-size: 20px;
}
.instructor-header div h2 {
  color: #4a4a4a;
}

.instructor-social {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.instructor-social a {
  width: 35px;
  margin-right: 10px;
  background-color: #4a4a4a;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
@media (min-width: 768px) {
  .instructor-social a.mobile-only {
    display: none;
  }
}
.instructor-social a.desktop-only {
  display: none;
}
@media (min-width: 768px) {
  .instructor-social a.desktop-only {
    display: block;
  }
}
.instructor-social a i {
  color: #fff;
  padding-left: 6px;
  font-size: 14px;
}

.instructor-sub-header {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.instructor-sub-header .instructor-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;
  margin-right: 20px;
}

.instructor-sub-header .instructor-title h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 22px;
}
.instructor-sub-header .instructor-title h4 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 16px;
}
.instructor-sub-header .instructor-icons img {
  width: 40px;
  height: 40px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #d9d3d3;
}
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  padding: 14px 16px;
  transition: 0.3s;
  color: #4a4a4a;
  font-size: 14px;
  width: 200px;
  text-align: left;
}
.tab button:hover, .tab button.active {
  border-bottom: 2px solid #19AECB;
  background: transparent;
  color: #000000;
  font-weight: 800;
}

.tabcontent {
  display: none;
  padding: 30px 10px;
  animation: fadeEffect 1s;
}
.tabcontent#about p {
  text-align: justify;
}
.tabcontent#video iframe {
  max-width: 100%;
  border: 6px solid #fff;
  -webkit-box-shadow: 0 0 5px 5px #c5c2c2;
  -moz-box-shadow: 0 0 5px 5px #c5c2c2;
  box-shadow: 0 0 5px 5px #c5c2c2;
}
.tabcontent#contact #gform_wrapper_4 {
  padding: 20px;
  border: 2px solid #4a4a4a;
}
.tabcontent#contact #gform_wrapper_4 input,
.tabcontent#contact #gform_wrapper_4 textarea {
  border: 2px solid rgba(197, 194, 194, 0.19);
  border-bottom: 2px solid #19AECB;
}
.tabcontent#contact #gform_wrapper_4 input#gform_submit_button_4 {
  border: 2px solid #19AECB;
  width: 225px;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* workshop section */
.instructor-workshops-section {
  background-color: #4a4a4a;
  left: 50%;
  padding: 70px 10px;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  font-family: "Lato", sans-serif;
}
.instructor-workshops-section h2 {
  margin-bottom: 100px;
  color: #fff;
}

.workshop-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
}

.workshop-row .workshop {
  width: 340px;
  margin: 0 15px 50px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: 30px;
  font-size: 22px;
}
.workshop-row .workshop p {
  text-align: center;
  font-weight: 600;
}
.workshop-row .workshop p.workshop-location {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
}
.workshop-row .workshop a {
  color: #19AECB;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
.workshop-row .workshop a.workshop-register {
  border: 1px solid #19AECB;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px 4px #f5f5f5;
  -moz-box-shadow: 0 0 5px 4px #f5f5f5;
  box-shadow: 0 0 5px 4px #f5f5f5;
  padding: 10px;
  transition: 0.4s;
}
.workshop-row .workshop p.workshop-location {
  text-transform: uppercase;
  font-size: 15px;
}
.workshop-row .workshop a.workshop-register {
  text-transform: uppercase;
  font-size: 15px;
}
.workshop-row .workshop a.workshop-register:hover {
  color: #fff;
  background-color: #19AECB;
}

/* races section */
.instructor-races {
  padding: 70px 10px;
}
.instructor-races h2 {
  color: #4a4a4a;
  margin-bottom: 45px;
}

.race-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #4a4a4a;
}
.race-row .race {
  background-color: #fff;
  border: 2px solid #4a4a4a;
  padding: 20px;
  margin: 0 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 0 5px 4px #f5f5f5;
  -moz-box-shadow: 0 0 5px 4px #f5f5f5;
  box-shadow: 0 0 5px 4px #f5f5f5;
  min-width: 200px;
}
.race-row .race p {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.race-row .race .race-number {
  font-size: 70px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.page-id-250 .acf-fields .acf-tab-wrap {
  background: none;
}
.page-id-250 .acf-fields .acf-tab-wrap .acf-tab-group {
  border: none;
}
.page-id-250 .acf-fields .acf-tab-wrap .acf-tab-group li.active {
  border-bottom: 4px solid #19AECB;
}
.page-id-250 .acf-fields .acf-tab-wrap .acf-tab-group li:not(.active) {
  background: none;
}
.page-id-250 .acf-fields .acf-tab-wrap .acf-tab-group li a {
  background: none;
  border: none;
}
.page-id-250 .acf-fields .acf-field .acf-input-wrap input {
  border-radius: 0;
}
.page-id-250 .acf-fields .acf-field input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: #19AECB;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.page-id-250 .acf-fields .acf-field .acf-repeater .acf-table {
  margin-bottom: 20px;
}
.page-id-250 .acf-fields .acf-field .acf-repeater .acf-actions {
  text-align: left;
}
.page-id-250 .acf-fields .acf-field .acf-repeater .acf-actions .acf-button {
  border: 2px solid #19AECB;
  background-color: #fff;
  color: #19AECB;
  border-radius: 0;
  padding: 11px 35px;
  font-size: 15px;
  font-weight: 700;
}
.page-id-250 .acf-fields .acf-field .acf-repeater .acf-actions .acf-button:hover {
  border: 2px solid #19AECB;
  background-color: #19AECB;
  color: #fff;
}
.page-id-250 .acf-form-submit {
  padding-left: 12px;
}

/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 * Styling for the Google Map
 */
#madcow-instructors-find-an-instructor {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

/* INSTRUCTOR MAP */
.acf-map {
  width: 100%;
  height: 600px;
  border: #ccc solid 1px;
  margin: 0 auto;
}

.madcow-instructors-map-marker {
  width: 100%;
  padding: 1.25rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  background-color: white;
  border-radius: 6px;
}

.madcow-instructors-map-marker-left {
  width: 130px;
  margin-right: 1rem;
  float: left;
}
.madcow-instructors-map-marker-left .instructor-photo {
  max-width: 100%;
}
.madcow-instructors-map-marker-left .instructor-photo img {
  max-width: 100%;
}
.madcow-instructors-map-marker-left .instructor-photo img.instructor-photo {
  width: 100%;
}

.madcow-instructors-map-marker-right {
  width: 270px;
  float: left;
}

.madcow-instructors-map-marker-name-link {
  -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5 !important;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
}
.madcow-instructors-map-marker-name-link:hover {
  text-decoration: none;
}

#madcow-instructors-instructor-count {
  margin-bottom: 20px;
}

.map-legend {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.map-legend div {
  padding-top: 5px;
  padding-bottom: 8px;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: center;
  color: #4a4a4a;
  font-size: 12px;
  line-height: 1.3;
}
.map-legend div figure {
  height: 24px;
  width: 24px;
}
.map-legend div figure img {
  padding-right: 5px;
}

.inst-map-title {
  margin: 70px 0;
}

@media screen and (min-width: 768px) {
  #madcow-instructors-search-filter-form {
    display: flex;
    justify-content: space-between;
  }
}
#madcow-instructors-search-filter-form #madcow-instructors-country-list-filter,
#madcow-instructors-search-filter-form #madcow-instructors-search {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  #madcow-instructors-search-filter-form #madcow-instructors-country-list-filter,
#madcow-instructors-search-filter-form #madcow-instructors-search {
    width: 33%;
    margin-right: 20px;
  }
}
#madcow-instructors-search-filter-form #madcow-instructors-search-filter-form-submit {
  height: 42px;
}
@media screen and (min-width: 768px) {
  #madcow-instructors-search-filter-form #madcow-instructors-search-filter-form-submit {
    width: 33%;
  }
}

#madcow-instructors-instructor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.madcow-instructor-list-item {
  width: 30%;
  min-width: 325px;
  min-height: 520px;
  margin-bottom: 50px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 4px #f5f5f5;
  -moz-box-shadow: 0 0 5px 4px #f5f5f5;
  box-shadow: 0 0 5px 4px #f5f5f5;
  color: #4a4a4a;
  padding: 5px;
  font-size: 1rem;
  line-height: 1.75;
}

.madcow-instructor-list-item-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.madcow-instructor-list-item-article .instructor-photo {
  width: 100%;
  height: 325px;
  object-fit: cover;
  margin-bottom: 20px;
}
.madcow-instructor-list-item-article .instructor-photo .img {
  width: 100%;
  height: 325px;
  object-fit: cover;
  margin-bottom: 20px;
}
.madcow-instructor-list-item-article h5 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.madcow-instructor-list-item-article .certification-level {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.madcow-instructor-list-item-article .certification-level img.cert-level-icon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.madcow-instructors-list-button {
  border: 2px solid #19AECB;
  background-color: #fff !important;
  color: #19AECB !important;
  border-radius: 0;
  padding: 12px 35px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  width: 87%;
  margin: 0 auto 20px;
  padding: 12px 0;
}
.madcow-instructors-list-button:hover {
  border: 2px solid #19AECB;
  background-color: #19AECB !important;
  color: #fff !important;
}

/* ALL WOO PAGES */
.woocommerce .content-area {
  padding-top: 50px;
}

/* SINGLE PRODUCTS */
.woocommerce-breadcrumb a {
  color: #4a4a4a;
  font-weight: 600;
}

/* ARCHIVE PAGES */
.woocommerce .products .product .price {
  color: #4a4a4a !important;
  font-size: 12px !important;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  min-height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.woocommerce ul.products li.product .mcw-archive-page-button.button,
.woocommerce-page ul.products li.product .mcw-archive-page-button.button {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .woocommerce ul.products[class*=columns-] li.product,
.woocommerce-page ul.products[class*=columns-] li.product {
    width: 100%;
    float: none;
    clear: both;
    margin: 0 auto 30px;
  }
}
/* set image width to be the max width of the image file*/
.woocommerce div.product div.images img {
  width: auto;
  max-width: 100%;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  box-shadow: 0 0 5px 4px #f5f5f5;
}

.woocommerce-product-gallery__trigger {
  display: none;
}

.woocommerce div.product form.cart .variations th {
  display: none;
}
.woocommerce div.product form.cart .variations td {
  background-color: transparent;
}

.woocommerce div.product form.cart .single_variation_wrap .woocommerce-variation {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.woocommerce div.product form.cart .single_variation_wrap .woocommerce-variation .woocommerce-variation-description {
  margin-right: 30px;
}
.woocommerce div.product form.cart .single_variation_wrap .woocommerce-variation .woocommerce-variation-description .var-description img {
  max-width: 60px;
}

.variations .value select {
  border-radius: 0;
  color: #4a4a4a;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  border-bottom: 1px solid #d9d3d3;
  padding-left: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:hover {
  border: none;
  background-color: transparent;
  color: #4a4a4a;
  font-size: 14px;
  text-transform: uppercase;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.description_tab {
  padding-left: 7px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  border-bottom: 2px solid #19AECB;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  font-weight: 800;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
  box-shadow: none;
  border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
  border: none;
}

.woocommerce div.product .woocommerce-tabs .panel {
  padding: 40px 0;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
  display: none;
}

.woocommerce-Tabs-panel.panel ul.cr-additional-bullets {
  padding-left: 0;
}

.woocommerce-Tabs-panel.panel ul.cr-additional-bullets li,
.woocommerce-Tabs-panel.panel ul li {
  list-style-type: circle;
  background: url(/wp-content/uploads/2022/01/feature-benefit-checkmark-icon.png) no-repeat 0 3px;
  padding: 0px 0px 10px 30px;
  list-style: none;
  background-size: 20px;
}

.product_title.entry-title {
  color: #4a4a4a;
  font-size: 18px;
  margin-bottom: 30px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #4a4a4a;
  font-size: 26px;
  margin-bottom: 30px;
}

.woocommerce-product-details__short-description {
  margin-bottom: 30px;
  text-align: justify;
  text-justify: inter-word;
}

.single_add_to_cart_button.button.alt,
.woocommerce .button.mcw-archive-page-button,
.woocommerce .button.product_type_external,
.woocommerce #respond input#submit,
.woocommerce .wc-proceed-to-checkout .checkout-button.button.alt.wc-forward,
.woocommerce .place-order .button.alt {
  border: 2px solid #19AECB;
  background-color: #fff !important;
  color: #19AECB !important;
  border-radius: 0;
  padding: 12px 35px;
  font-size: 15px;
  font-weight: 700;
  display: block;
}
.single_add_to_cart_button.button.alt:hover,
.woocommerce .button.mcw-archive-page-button:hover,
.woocommerce .button.product_type_external:hover,
.woocommerce #respond input#submit:hover,
.woocommerce .wc-proceed-to-checkout .checkout-button.button.alt.wc-forward:hover,
.woocommerce .place-order .button.alt:hover {
  border: 2px solid #19AECB;
  background-color: #19AECB !important;
  color: #fff !important;
}

.single_add_to_cart_button.button.alt {
  flex-grow: 1;
}

.qty-nav {
  display: none;
}

.woocommerce-variation-add-to-cart.variations_button,
.product-type-simple form.cart {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 16px;
}

.woocommerce div.product form.cart::after,
.woocommerce div.product form.cart::before {
  display: none;
}

.woocommerce .quantity {
  width: 150px;
}
.woocommerce .quantity .mcw-quantity-number .qty {
  width: 45px;
  padding: 10px;
  font-weight: 600;
  border-radius: 0;
}

button.minus,
button.plus {
  border: none;
  font-size: 24px;
}

button.minus:focus,
button.plus:focus,
button.minus:hover,
button.plus:hover {
  background-color: transparent;
  outline: none;
  color: #19AECB;
}

input.text[type=number]::-webkit-inner-spin-button,
input.text[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input.text[type=number] {
  -moz-appearance: textfield;
}

/* style reviews */
.woocommerce #reviews #comments ol.commentlist {
  margin-block-start: 0;
  padding-inline-start: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin: 0;
  border: none;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .star-rating {
  color: #19AECB;
  float: none;
  margin-bottom: 10px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .woocommerce-review__author {
  color: #4a4a4a;
  font-weight: 600;
}

#review_form_wrapper {
  border: 1px solid #4a4a4a;
  padding: 10px;
}

#review_form_wrapper #reply-title {
  margin-bottom: 20px;
  display: block;
}

.woocommerce #review_form .comment-form-author input#author,
.woocommerce #review_form .comment-form-email input#email {
  width: 85%;
  padding-top: 0;
  padding-bottom: 0;
}

.woocommerce #review_form #respond textarea,
.woocommerce #review_form .comment-form-author input#author,
.woocommerce #review_form .comment-form-email input#email {
  border: none;
}

#review_form_wrapper .comment-form-rating label {
  margin-bottom: 10px;
}

.woocommerce #review_form .comment-form-author,
.woocommerce #review_form .comment-form-email {
  display: inline-block;
  width: 49.7%;
}

#review_form_wrapper p.comment-form-comment,
.woocommerce #review_form .comment-form-author,
.woocommerce #review_form .comment-form-email {
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 2px solid #19AECB;
  padding: 10px;
}

#review_form_wrapper p.comment-form-comment label {
  margin-bottom: 25px;
}

/* FAB section */
.fab-section {
  background-color: #19AECB;
  left: 50%;
  padding: 20px 10px;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  font-family: "Lato", sans-serif;
  margin-bottom: 70px;
}

.fab-section h2 {
  font-size: 26px;
  font-family: "Lato", sans-serif;
  color: #fff;
}

.fab-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fab-container .fab {
  width: 100%;
  margin: 0 15px 30px;
  text-align: center;
  color: #fff;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

@media screen and (min-width: 540px) {
  .fab-container .fab {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .fab-container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .fab-container .fab {
    width: 20%;
  }
}
.fab .fab-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.fab .fab-blurb {
  font-weight: 300;
  font-size: 16px;
}

.fab-container .fab img {
  max-width: 100px;
  display: block;
  margin: 0 auto 20px;
}

.related.products h2 {
  color: #4a4a4a;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 35px;
  text-transform: capitalize;
}

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
  background-color: #fff;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
    width: 48%;
  }
}
@media screen and (min-width: 769px) {
  .woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
    width: 30%;
  }
}
.woocommerce .related.products .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 375px;
}

.woocommerce .related.products .products li a img {
  -webkit-box-shadow: 0 0 5px 4px #f5f5f5;
  -moz-box-shadow: 0 0 5px 4px #f5f5f5;
  box-shadow: 0 0 5px 4px #f5f5f5;
  padding: 40px;
  height: 300px;
  object-fit: contain;
}

.woocommerce.archive .products li.product a img {
  -webkit-box-shadow: 0 0 5px 4px #f5f5f5;
  -moz-box-shadow: 0 0 5px 4px #f5f5f5;
  box-shadow: 0 0 5px 4px #f5f5f5;
}

@media screen and (min-width: 600px) {
  .woocommerce .related.products .products li a img {
    height: 240px;
  }
}
@media screen and (min-width: 769px) {
  .woocommerce .related.products .products li a img {
    height: 185px;
  }
}
@media screen and (min-width: 992px) {
  .woocommerce .related.products .products li a img {
    height: 240px;
  }

  .woocommerce .related.products .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    height: 395px;
  }
}
@media screen and (min-width: 1200px) {
  .woocommerce .related.products .products li a img {
    height: 300px;
  }

  .woocommerce .related.products .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    height: 425px;
  }
}
.related.products .products li .add_to_cart_button,
.related.products .products li .button,
.related.products .products li .star-rating {
  display: none;
}

.related.products .products li h2.woocommerce-loop-product__title {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
}

.woocommerce .related.products .products li .price {
  color: #4a4a4a;
  font-size: 12px;
}

/* CART */
.woocommerce-cart .site-main,
.woocommerce-checkout .site-main {
  padding-top: 70px;
  padding-bottom: 70px;
}
.woocommerce-cart .site-main h3#order_review_heading,
.woocommerce-checkout .site-main h3#order_review_heading {
  text-transform: capitalize;
}

/* WORKSHOPS */
.page-id-53 .workshops-year-block {
  width: 100%;
}
.page-id-53 .workshop-month {
  width: 100%;
  border-top: 5px solid #19AECB;
  padding: 20px;
}
.page-id-53 .workshop-month h2 {
  font-size: 40px;
}
@media (min-width: 800px) {
  .page-id-53 .workshops {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .page-id-53 .workshop-month {
    max-width: 45%;
    margin: 0 20px 50px;
  }
}
.page-id-53 .workshop-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.page-id-53 .workshop-block a {
  color: #19AECB;
  letter-spacing: 0.75px;
  font-weight: 400;
}
.page-id-53 .workshop-block a.chirunning-clinic, .page-id-53 .workshop-block a.chirunning-tune-up, .page-id-53 .workshop-block a.chirunning-workshop {
  color: #81C723;
}
.page-id-53 .workshop-block a.chiwalk-run-workshop {
  color: #3DC3A5;
}
.page-id-53 .workshop-block a.chiwalking-workshop {
  color: #3F68B1;
}
.page-id-53 .workshop-date {
  width: 100%;
  max-width: 75px;
  height: 45px;
  margin-right: 10px;
  font-weight: bold;
}

.single-workshops #label_5_5_1 {
  color: #fff;
}

/* WORKSHOP */
.single-workshops .workshop-content,
.workshop-signup .content {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .single-workshops .workshop-content,
.workshop-signup .content {
    max-width: 767px;
  }
}
@media (max-width: 1024px) {
  .single-workshops .workshop-content,
.workshop-signup .content {
    max-width: 1024px;
  }
}

.single-workshops .workshop-content .instructor-banner {
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.single-workshops .workshop-content h1 {
  display: block;
}

.workshop-header {
  margin-top: 0;
}
.workshop-header.instructor-header {
  margin: 25px auto;
}
.workshop-header.instructor-header .right {
  padding: 10px;
}
.workshop-header.instructor-header .right .workshop-date,
.workshop-header.instructor-header .right .workshop-location a,
.workshop-header.instructor-header .right .workshop-cost {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.workshop-header.instructor-header .right .workshop-cost {
  margin-bottom: 30px;
}
.workshop-header.instructor-header .right .workshop-date img,
.workshop-header.instructor-header .right .workshop-cost img {
  max-width: 35px;
  margin-right: 20px;
}
.workshop-header.instructor-header .right .workshop-location img {
  max-width: 20px;
  margin-left: 8px;
  margin-right: 28px;
}
.workshop-header.instructor-header .right .workshop-date {
  font-weight: 600;
  font-size: 18px;
}
@media (min-width: 768px) {
  .workshop-header.instructor-header .right {
    padding: 50px;
  }
}
.workshop-header.instructor-header .right h3 {
  font-size: 18px;
}

/* workshop-signup */
.workshop-signup {
  background-color: #4a4a4a;
  left: 50%;
  padding: 70px 10px;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  font-family: "Lato", sans-serif;
}
.workshop-signup p {
  color: #fff;
  margin-bottom: 50px;
}
.workshop-signup h2 {
  color: #fff;
}

.single-workshops #label_5_5_1 {
  color: #fff;
}

/*# sourceMappingURL=chi-styles.css.map */
